.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}
.new-background-color{
    --background: #494dbf;
    color: #fff;
}
.gray{
    color: #635f5f;
}
ion-toolbar{
    border: 1px solid black !important;
}
ion-button, ion-fab-button{
    --background: #494dbf;
    --border-width: 1px;
    --border-style: solid;
    --border-color: black;
}